<div class="container">

  <div class="display">
      <div class="title">
          <div class="name">
              <span>APISIT <span style="font-weight: bold;">NOILUANGCHAI</span></span>
          </div>
          <span>Full stack developer</span>
      </div>

      <div class="contact">
          <div class="content">
              <img src="assets/icons/mail.svg" alt="mail" height="28">
              <a href="mailto:apiiisit@outlook.com">apiiisit@outlook.com</a>
          </div>
          <div class="content">
              <img src="assets/icons/github.svg" alt="github" height="28">
              <a href="https://github.com/apiiisit" target="_blank">github.com/apiiisit</a>
          </div>
      </div>

      <hr>

      <div class="info">
          <span>Education</span>
          <div class="item">

              <span>2019 - Now</span>
              <ul>
                  <li>
                      <span>Bachelor of Computer Science</span>
                      <br>
                      <small>Rajamangala University of Technology Thanyaburi</small>
                  </li>
              </ul>

          </div>
      </div>

      <hr>

      <div class="info">
          <span>Experience/Attended</span>
          <div class="item">

              <span>Nov 2022</span>
              <ul>
                  <li>
                      <span>Cybersecurity Hackathon, SECUREiNFO</span>
                      <br>
                      <small>Participated in the Cybersecurity Hackathon organized by SECUREiNFO and Faculty of Engineering Mahidol University</small>
                  </li>
              </ul>

              <span>Jun - Sep 2022</span>
              <ul>
                  <li>
                      <span>Developer Intern, CDG System Ltd. (Bangkok, Thailand)</span>
                      <br>
                      <small>Developed online-quiz system Using Angular framework and Quarkus (Java web service) <a href="https://github.com/apiiisit/online-quiz" target="_blank">View project</a></small>
                  </li>
              </ul>

              <span>Aug 2021</span>
              <ul>
                  <li>
                      <span>Create a bot that works with discord.</span>
                      <br>
                      <small>Create a bot to play music available on YouTube in a Discord channel with discord.js <a href="https://github.com/apiiisit/zeno" target="_blank">View project</a></small>
                  </li>
              </ul>

          </div>
      </div>

      <hr>

      <div class="info">
          <span>Certificate</span>
          <div class="item">

              <span>2022</span>
              <ul>
                  <li>SECUREiNFO, Cybersecurity Hackathon</li>
                  <li>CodinGame, Python3 problem solving</li>
              </ul>

              <span>2021</span>
              <ul>
                  <li>Cisco, Introduction to Packer Tracer course</li>
                  <li>IC3, Digital literacy <small>(Key Applications, Living Online, Computing Fundamentals)</small></li>
              </ul>

              <span>2020</span>
              <ul>
                  <li>BorntoDev, Taken part in the course DevLab3</li>
              </ul>

          </div>
      </div>

      <hr>

      <div class="info">
          <span>Skills</span>
          <div class="item">

              <span>Proficient</span>
              <ul>
                  <li>JavaScript, TypeScript</li>
                  <li>NodeJS</li>
                  <li>Python</li>
              </ul>

              <span>Experienced</span>
              <ul>
                  <li>Cloudflare</li>
                  <li>Express</li>
                  <li>Git</li>
                  <li>Nginx</li>
                  <li>Java</li>
                  <li>C, C++</li>
                  <li>Dart</li>
                  <li>React frameworks</li>
                  <li>Next.js</li>
              </ul>

          </div>
      </div>

  </div>


</div>