<div class="content" role="main">

  <h1>Apisit Noiluangchai</h1>
  <p>Full-stack developer</p>

  <div class="container">

    <a class="circle-link" title="Facebook" href="https://www.facebook.com/apiiisit" target="_blank" rel="me">
      <img src="../assets/facebook.svg" alt="facebook">
    </a>

    <a class="circle-link" title="Github" href="https://github.com/apiiisit" target="_blank" rel="me">
      <img src="../assets/github.svg" alt="github">
    </a>

    <a class="circle-link" title="Email" href="mailto:apiiisit@outlook.com" target="_blank" rel="me">
      <img src="../assets/email.svg" alt="email">
    </a>
    
  </div>

  <div class="container">
    <p>Certificate</p>
  </div>

  <div class="cert">
    <p-image src="assets/cert/hackathon.png" [width]="width" [height]="height" [preview]="true" alt="hackathon"></p-image>
    <p-image src="assets/cert/cisco.png" [width]="width" [height]="height" [preview]="true" alt="cisco"></p-image>
    <p-image src="assets/cert/ic3.png" [width]="width" [height]="height" [preview]="true" alt="ic3"></p-image>
    <p-image src="assets/cert/orange.png" [width]="width" [height]="height" [preview]="true" alt="orange"></p-image>
    <p-image src="assets/cert/codingame.png" [width]="width" [height]="height" [preview]="true" alt="codingame"></p-image>
    <p-image src="assets/cert/devlap.png" [width]="width" [height]="height" [preview]="true" alt="devlap"></p-image>
  </div>

</div>