.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.name {
    font-size: 25px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact a {
    text-decoration: none;
    color: #2C74B3;
}

.contact .content {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-right: 1em;
}

.info span {
    font-weight: bold;
}

.info .item {
    margin-left: 2em;
}
